.main-panel {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    margin: 30px 0;
    width: 100%;
    text-align: left;
}

.inner-row {
    margin: 20px 0;
    width: 100%;
}

.cancel-button {
  cursor: pointer;
  width: 100%;
  height: 48px;
  border: 0;
  color: rgb(136, 136, 136);
  padding: 12px 0 10px 0;
}
.fav-button {
  cursor: pointer;
  width: 100%;
  height: 48px;
  color: #ff6700;
  border: 1px solid #ff6700;
  padding: 12px 0 10px 0;
}
.fav-button:hover {
  color: #ffffff;
  background: #ff6700;
}
.fav-button.active {
  color: #ffffff;
  background: #ff6700;
}